@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: rgb(255, 146, 91);
    --bgcolor: #1E1E1E;
 }
 
body {
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(231, 231, 231);
}
 



.login-container{
    display: flex;
    margin: 0 10%;
    margin-top: 130px;
    height: 700px;
    /* background-image: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));*/
    box-shadow: 8px 8px 20px rgb(128, 128, 128); 
}
.left-login-div, .right-login-div{
    width: 50%;
}
.left-login-div img{
    width:100%;
}
 .bg-Colors{
    background-image: linear-gradient(to right,
    rgba(247, 206, 148, 0.87),
    rgba(248, 170, 131, 0.829));
 }

 
.containers {
    height: 700px;
    width:100%;
    /* width: 500px; */
    background-color: white;
   
    position: relative;
    overflow: hidden;
}
.slider-div{
    margin-top: 80px;
    margin-bottom: 0;
}
.btn {
    /* height: 60px; */
    width: 50%;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
 
.login,
.signup {
    font-size: 24px;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50px;
    width: 50%;
    cursor: pointer;
    padding: 1rem;
    /* border: 1px solid; */
}
 
 .bg{
    background: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));
    transition: 0.5s ease-in-out;
 }
.slider {
    height: 60px;
    width: 166px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    position: absolute;
    top: 80px;
    left: 220px;
    transition: all 0.5s ease-in-out;
}
 
.moveslider {
    left: 380px;
}
 
.form-section {
    height: 500px;
   
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0;
}
 
.form-section-move {
    left:-600px;
}
 
.user-login,
.admin-login {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
   
}
 
.user-login {
    gap: 50px;
    margin: 0 18%;
}
 
.admin-login {
    margin: 0 ;
    gap: 50px;
}
 .admin-login p{
    color:  rgb(245, 106, 37);
 }
.inputs {
    height: 70px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 20px;
}
 
.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.clkbtn:hover {
    letter-spacing: 3px;
    box-shadow: 0px 0px 7px 0 rgb(241, 113, 8);
  }
 
/* For Responsiveness of the page */
 
@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }
 
    .title {
        font-size: 15px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
 
    .moveslider {
        left: 150px;
    }
 
    .form-section {
        height: 500px;
        width: 600px;
    }
 
    .form-section-move {
        left: -300px;
    }
 
    .user-login,
    .admin-login {
        height: 100%;
        width: 300px;
    }
 
    .inputs {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
 
@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
 
    .heading {
        font-size: 30px;
    }
 
    .title {
        font-size: 10px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
 
    .moveslider {
        left: 127px;
    }
 
    .form-section {
        height: 500px;
        width: 500px;
        }}
