@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: rgb(255, 146, 91);
    --bgcolor: #1E1E1E;
 }
 
body {
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 30px;
    background-color: rgb(231, 231, 231);
}
 /* header{
    position: fixed;
    top: 0;
    z-index: 1;
 } */
.clkbtn {
    margin:20px 40%;
    padding: 10px 15px;
    border-radius: 50px;
    background: linear-gradient(to right, #fa6b29 0%, #fab726 100%);
    font-size: 22px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.clkbtn:hover {
scale: 1.01;
    box-shadow: 0px 0px 7px 0 rgb(241, 113, 8);
  }


.rules-container{
    display: flex;
    margin: 20px 10%;

 
    /* background-image: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));*/
    box-shadow: 8px 8px 20px rgb(128, 128, 128); 
}
.left-rules-div, .right-rules-div{
    width: 50%;
}
.left-rules-div img{
    padding: 2rem;
    width: 90%;
  
}
 .bg-Colors{
    background-image: linear-gradient(to right,
    rgba(247, 206, 148, 0.87),
    rgba(248, 170, 131, 0.829));
 }
.right-rules-div{
    padding: 1.5rem;
}
 
 .title-sub {
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    margin: 22px auto;
}
.title-main{
    font-size: 36px;
    font-weight: 700;
}

.gradient-text {
    font-size: 38px;
    font-weight: 600;
    background: linear-gradient(to right, #ff5100 0%, #f1b739 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.course-list {
    padding: 0;
  
    text-align: left;
    /* font-weight: 600; */
    font-size: 24px;

}
.course-list li{
    list-style: none;
}



.table-wrapper{
    margin: 8px 60px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    margin-top: 45px;
    border-radius: 5px;
    /* font-size: 20px; */
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
   
    
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 6px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}

.fl-table thead th {
    /* color: #ffffff; */
    background: #eeb842;
    font-size: 24px;
    font-weight: 500;
}


.fl-table thead th:nth-child(odd) {
    /* font-weight: 400; */
    /* color: #ffffff; */
    background:#fc7d42;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}



/* For Responsiveness of the page */
 

@media screen and (max-width: 1440px){
    .user-login{
        margin: 0 5%;
    }
    .admin-login{
        margin: 0 15%
    }
    .rules-container{
        margin: 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .rules-container{
        flex-direction: column;
        align-self: auto;
        margin: 0 10%;
    }
    .left-rules-div{
        display: none;
    }
    .right-rules-div{
        width: 100%;
    }
    .fl-table td {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 414px) {
.table-wrapper{
    margin: 0;
}
.right-rules-div{
   padding: 0.6rem 1rem;
}
.title-sub{
    font-size: 22px;
    margin: 8px 0;
}
.title-main{
    font-size: 26px;

}
.rules-container{
    margin: 0 5%;
} 
.fl-table td {
    font-size: 16px;
}
}
